<li>
	 <img alt="97x97" src="{{ element.getWebPath | apply_filter('editarNoticia') }}" width="97" height="97" class="imagen-editar-noticia" id="elemento_{{ element.id}}" style="cursor:pointer;"/>
</li>