{% extends '::base.html.twig' %}

{% form_theme form with ['ProjectBackBundle:Form:fields.html.twig',
'ProjectBackBundle:Form:_form_save_widget.html.twig',
] %}
{% block pagesScriptsBottom %}
{%endblock%}

{% block pageContent  %}
<div class="main-container container-fluid" id="sinlogin">
	<a class="menu-toggler" id="menu-toggler" href="#"> <span class="menu-text"></span> </a>

	{% include '::sidebar.html.twig'  with {'clase': 'gris'}  %}
	<div class="main-content">
		<div class="page-content">
			{% include 'ProjectBackBundle:'~nombreClase~':page-header.html.twig'  with {'subtitulo':'Editar'}  %}

			{{ form(form, {'action': path('project_back_registro_casas_apuestas_edit',{'id':id}), 'method': 'POST','attr': {'class':'form-horizontal'}}) }}
		</div><!--/.page-content-->
	</div><!--/.main-content-->
</div><!--/.main-container-->
{%endblock%}