<html>
	<head>
		<title>Email</title>
	</head>
	<body>
		<h1>Petición pin paysafecard</h1>
		<div class="formulario" style="padding: 10px;;border: 5px outset #FFCE15;">

			<h3>Hemos recibido tu solicitud y en breve te contestaremos.</h3>

			<h3>Te contestaremos cuando los datos estén validados con las casas de apuestas. No es un proceso automático y en determinadas ocasiones pueden haber retraso. Si pasados 10 días no has obtenido respuesta por nuestra parte, envíanos un mail a promos @ todoapuestas.org para ver si hay
			algún problema. En el resto de casos nunca contestamos a los mensajes.</h3>

			<h3>Si tu solicitud se hace en agosto o en navidades el tiempo de espera puede ser mayor ya que es cuando los empleados de las casas se cogen vacaciones.</h3>

			<h3>Esta totalmente prohibido contactar con las casas directamente para estas promociones ya que NO son promociones de ellos, sino de todoapuestas y en muchos casos con las personas que contactéis ni sabrán de estas promociones. Si una casa nos comenta que hay usuarios
			reclamando bonos, automáticamente ese usuario no podrá obtener ninguna promoción de todoapuestas y sus blogs.</h3>

			<h3>Gracias por registrate con nosotros</h3>
		</div>
	</body>
</html>