<div class="alert alert-block alert-success">
	<button type="button" class="close" data-dismiss="alert">
		<i class="icon-remove"></i>
	</button>

	<p>
		<strong>
			<i class="icon-ok"></i>
			¿Desea agregar {{tipo}}?
		</strong>

		<button class="btn btn-small btn-success" onclick="document.location.href='{{path(url)}}';">Hacer click aquí</button>

	</p>
</div>