<html>
	<head>
		<title>Email</title>
	</head>
	<body>
		<h1>Registro en casas de apuestas</h1>
		<div class="formulario" style="padding: 10px;;border: 5px outset #FFCE15;">

			<h3>Gracias por rellenar el formulario. Cuando tengamos promociones especiales con las casas de apuestas nos pondremos en contacto contigo.</h3>

			<h3>Recuerda que repartimos mas de 1500€ en premios todos los meses con nuestros concursos: http://www.foro-apuestas.com/concursos-del-foro</h3>
		</div>
	</body>
</html>