{# src/Acme/TaskBundle/Resources/views/Form/fields.html.twig #}
{% block form_row %}
{% spaceless %}
<div id="formFila" style="padding: 1px;">
    <div class="formErrors" style="">
      {{ form_errors(form) }}
    </div>
    <div class="form_row" >
    	<div class="formLabel" style="width: 48%;float: left;">
        {{ form_label(form) }}
        </div>
        <div class="formWidget"  style="width: 50%;float: left;">
        {{ form_widget(form) }}
        </div>	
    </div>
</div>
{% endspaceless %}
{% endblock form_row %}