{% form_theme form _self %}

{% block _fuente_tipo_published_widget %}
<div class="row-fluid">
	<div class="span3">
		<label> {{ block('checkbox_widget') }} <span class="lbl"></span> </label>
	</div>
</div>
{% endblock %}

{{ form_widget(form.name) }}