{% block form_row %}
{% spaceless %}
<div class="control-group">
	<label class="control-label" for="form-field-1">{{ form_label(form) }}</label>
	<div class="controls">
		{{ form_widget(form) }}
	</div>
	{%if form_errors(form)%}
	<div class="formErrors">
		<p style="margin-left: 180px;color: red;">{{ form_errors(form) }}</p>
	</div>
	{%endif%}
</div>
{% endspaceless %}
{% endblock form_row %}